In [1]:
class Student:
    number = 0
    
    def __init__(self, name, age, group, subjects):
        self.name = name
        self.age = age
        self.group = group
        self.subjects = subjects
        
    def add_student(self):
        Student.number +=1
        print(Student.number)
    
    def add_subject(self, subject):
        self.subjects += [subject]
        print(self.subjects)

In [2]:
mark = Student('Mark', 18, '15FPL', [])
mark.add_student()

1

In [3]:
kate = Student('Kate', 18, '15FPL', [])
kate.add_student()

2

In [4]:
mark.add_subject('Math')

['Math']

In [5]:
class Teacher(Student):
    def __init__(self, name, age, group, subjects, work_id):
        self.work_id = work_id
        super(Teacher, self).__init__(name, age, group, subjects)
        
    def teach(self, subject):
        print (subject + ' for ' + self.group)

In [6]:
anna = Teacher('Anna', 35, '', [], 0)

In [7]:
alina = Teacher('Alina', 30, '', [], 0)

In [8]:
class Headmaster(Teacher):
    number = 1
    
    def __init__(self, name, age, group, subjects, work_id):
        super(Headmaster, self).__init__(name, age, group, subjects, work_id)
        
    def hire_teacher(self, teacher, group, subjects, work_id):
        teacher.group = group
        teacher.subjects = subjects
        Headmaster.number +=1
        teacher.work_id = Headmaster.number
        print ('A ' + str(teacher.age) + ' years old ' + str(teacher.name) + ' is hired on the position of ' + subjects + ' teacher in ' + group)
        print (str(teacher.name) + "'s work id is " + str(teacher.work_id))

In [9]:
peter = Headmaster('Peter', 50, '-', [], 1)
teacher = anna
peter.hire_teacher(teacher, '15FPL', 'Math', '')

A 35 years old Anna is hired on the position of Math teacher in 15FPL
Anna's work id is 2

In [10]:
teacher = alina
peter.hire_teacher(teacher, '15FPL', 'German language', '')

A 30 years old Alina is hired on the position of German language teacher in 15FPL
Alina's work id is 3

In [11]:
matthew = Teacher('Matthew', 23, '', [], 0)
teacher = matthew
peter.hire_teacher(teacher, '15FPL', 'NPL', '')

A 23 years old Matthew is hired on the position of NPL teacher in 15FPL
Matthew's work id is 4