In [132]:
class Student:
    number = 0
    
    def __init__(self, name, age, group, subjects):
        self.name = name
        self.age = age
        self.group = group
        self.subjects = subjects
    def add_student(self):
        Student.number += 1
        print(Student.number)
    def add_subject(self, subject):
        self.subjects += [subject]
        print(self.subjects)

In [133]:
class Teacher(Student):
    def __init__(self, name, age, group, subjects, work_id):
        self.work_id = work_id
        super(Teacher, self).__init__(name, age, group, subjects)
    
    def teach(self, subject):
        print(subject + ' for ' + self.group)

In [134]:
class Headmaster(Teacher):
    def __init__(self, name, age, group, subjects, work_id, teachers):
        super(Headmaster, self).__init__(name, age, group, subjects, work_id)
        self.teachers = teachers
        
    def teach(self, subject):
        print(subject + ' for ' + self.group)
    def hire_teacher(self, teacher):
        self.teachers += [teacher.name]
        print(self.teachers)
    def assign_id(self, teacher, work_id):
        teacher.work_id = work_id
        print(teacher.work_id + ' for ' + teacher.name)

In [135]:
mark = Student('Mark', 18, '15FPL', [])
mark.add_student()

1

In [136]:
kate = Student('Kate', 22, '15FPL', [])
kate.add_student()

2

In [137]:
mark.add_subject('maths')
kate.add_subject('linguistics')

['maths']
['linguistics']

In [138]:
mi = Teacher('Marivanna', 45, '15FPL', 'maths', [])
mi.teach('maths')

maths for 15FPL

In [139]:
vg = Teacher('Valentin', 28, '15FPL', 'linguistics', [])
vg.teach('linguistics')

linguistics for 15FPL

In [140]:
at = Headmaster('Anatoly', 66, '15FPL', [], '01', [])

In [141]:
at.hire_teacher(vg)

['Valentin']

In [142]:
at.hire_teacher(mi)

['Valentin', 'Marivanna']

In [96]:
at.assign_id(vg, '02')

02 for Valentin

In [97]:
at.assign_id(mi, '034')

034 for Marivanna